<%= form_for(inn) do |f| %>

  <% if inn.errors.any? %>
    <p>INN format errors:</p>
    <ul>
      <% inn.errors.each do |_, message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.text_field :number %>
  <%= f.submit 'Submit' %>
<% end %>
