<!DOCTYPE html>
<html>
  <head>
    <title>InnValidator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
        <div style="color: green"><%= notice %></div>
    <% end %>
    <% if alert %>
        <div style="color: red"><%= alert %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
